@import url('./style_cardFrm.css');
@import url('./style_principal.css');

label{
    color: var(--clr-claro);
}

main{
    height: 100%;
}


.cuerpo{
    border: solid rgba(0, 0, 0, 0.39);
    border-radius: 1rem;
    padding: 1rem;
    width: 60rem;
    margin: auto;
    margin-top: 6rem;
    gap: 1rem;   
}

.filaOpc{
    display: flex;
    border: solid 1px transparent;
    border-radius: .5rem;
    background-color: var(--clr-grisTransp);
    height: 3rem;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    border: 1px solid rgba(66, 65, 65, 0.63);
    align-content: center;
}

.opcion{
    display: flex;
    justify-content: space-between; 
    width: 95%;
    margin-left: 10px;    
}

.montoPagar{
    margin-bottom: 20px;
}

.btnSiguiente{
    background-color: skyblue;
    border: solid 2px rgba(128, 128, 128, 0.425); 
    color: var(--clr-principal);
    align-items: center;
    cursor: pointer;
    display: grid;
    font-size: large;
    margin-top: 3rem;
    height: 50px;
}

.btnSiguiente:hover{
    background-color: rgb(84, 169, 202);
}

.btnVolver{
    background-color: transparent;
    border: solid 1px whitesmoke;
    border-radius: .5rem;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}

.btnVolver:hover{
    background-color: var(--clr-principal);
}

.datosEnvio{
    display: flex;
    flex-direction: column;
}

.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.I2{
    margin-top: 3px;
}

.direccion{
    display: flex;
}

.btnNext{
    background-color: transparent;
    border: none;
    color: var(--clr-gold);
    font-size: xx-large;
    cursor: pointer;
}

.btnNext:hover{
    color: greenyellow;
}

.btnDelete{
    background-color: transparent;
    border: none;
    color: rgb(192, 13, 13);
    font-size: xx-large;
    cursor: pointer;
}

.btnDelete:hover{
    color:red;
}

.btnEdit{
    background-color: transparent;
    border: none;
    color: orange;
    font-size: xx-large;
    cursor: pointer;
}

.btnEdit:hover{
    color:greenyellow;
}

.containerBtnAdd{
    margin: auto;
}

.add{
    font-size: xx-large;
    cursor: pointer;
    color: greenyellow;
}

.add:hover{
    color: var(--clr-gold);
}

.labelAddress{
    width: 200px;
}
