@import url('/style/style_principal.css');
@import url('/style/style_home.css');
@import url('../style/style_home.css');

h1, h2, h4, h5, h6, small{color: var(--clr-principal);}
h3{color: orange;}


aside{
    width: 39vh;
}

.carro{
    background-color: rgba(128, 128, 128, 0.082);
}

.fila{
	justify-content: space-between;
}

.print{
	border: 0;
    background-color: transparent;
    color: var(--clr-red);
    font-size: x-large;
}

.print:hover{
    color: green;
    cursor: pointer;
 }

.send{
	border: 0;
    background-color: transparent;
    color: var(--clr-red);
    font-size: x-large;
} 

.send:hover{
    color: green;
    cursor: pointer;
 }

.botonCat{
    background-color: transparent;
    color: var(--clr-claro);
    border: 0;
    font-weight: 400;
    cursor:pointer;
    gap: 1rem;
    padding: 1rem;
    margin: .25rem;
    align-self: start;
    
}

.botonCat:hover{
	font-size: xx-large;
	color: wheat;
}



.inpCard{
    border-radius: .2rem;
    border: solid var(--clr-principal);
    color: var(--clr-principal);
    padding: 0.1rem;
}

.btnCard{
    background-color: skyblue;
    margin-top: 20px;
    border-radius: 1rem;
    color: black;
    border: solid rgba(0, 0, 0, 0.39);
    padding: 10px;
    cursor: pointer;
    width: 30rem;
    height: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: x-large;
    color: var(--clr-principal);

}

.btnCard:hover{
	color: var(--clr-principal);
    background-color: var(--clr-gold);
}

.espc{
    padding: 1rem;  
}

.mk1{
    display: flex;
    justify-content: space-between;
	
}
.formFile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	margin-bottom: 20px;
}
.formFileAction {
	width: 100%;
}
.formFileAction label {
	display: block;
}
.formFileAction label.title {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}
.formFileAction input {
	width: 0;
	height: 0;
	opacity: 0;
	display: none;
}
.form-file__result {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	width: 50%;
	height: 350px;
	background-color: #f2f0f0;
	border-radius: 8px;
	border: 1px dashed #609dd6;
	transition: bacgroundColor 0.3s linear;
	z-index: 10;
}
.form-file__result::after {
	content: 'Clic para elegir imagen.';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #609dd6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-file__result img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 50;
}
.form-file__result--active {
	background-color: rgba(82, 81, 79, 0.314);
}

.mensaje{
	font-size: xx-large;
	text-align: center;
}

.registro-planilla{
	display: grid;
	place-items: center;
	margin: auto;
}

.inpReg{
	padding: 1rem;
	margin-top: 10px;
	width: 25rem;
}

.thead{
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color: orange;
	font-size: large;

}

.tbody{
	display: flex;
	flex-direction: column;


}

.salesRow{
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.inpDate{
	width: 150px;
	gap: 15px;
	padding: 5px;
	color: var(--clr-principal);
	border-radius: 5px;
	border: solid 1px;
}

.ancho{

	margin: unset;
	width: 10rem;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.total{
	display: flex;
	margin-left: 70%;
	gap: 1rem;
	margin-top: 3rem;
	text-transform: uppercase;
	padding: 10px;
}

.scrollContainer{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.scrollinCard{
	flex: 0 0 auto;
	height: 100%;
}

.containerProd{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	gap: 5px;
	height: 35rem;
	width: 90rem;
	align-items: center;
}

.cardSales{
	display: flex;
	justify-content: space-between;
	gap: 15px;
	border: solid 1px var(--clr-principal);
	padding: 10px;
	margin-top: 15px;
	border-radius: 15px;
	text-align: center;
}